<div id="videos-container">
    <div class="video-card" id="{{video._id}}">
        <div class="video-title">
            {{video.title}}
        </div>
        <iframe class="video-player" src="{{video.url}}" frameborder="0"></iframe>
        <div class="video-description">
            {{video.description}}
        </div>
        <div>
            <button id="edit" onclick="window.location.href = '/videos/{{video._id}}/edit'" ;>Edit
                <a href="/videos/{{video._id}}/edit"></a>
            </button>
        </div>
        <form method="post">
            <button id="delete" type="submit" formaction="/videos/{{video._id}}/deletions" formmethod="POST">Delete</button>
        </form>
        
    </div>
</div>